/* Начальная разметка */
*{
	margin: 0;
	padding: 0;	
}
body{
	padding: 32px;
}

/* Титр */
.titre{
	position: relative;
	padding: 0 16px;
	display: inline-block;
}

/* Титр карусели */
.titre.carousel .wrapper{
	display: flex;
	align-items: flex-start;
}
.titre.carousel .icon{
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	margin-right: 16px;
}
.titre.carousel .content{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 18px;
	border-radius: 16px;
	background-color: #009dd4;
	color: #FFF;
	min-width: 200px;
	max-width: 300px;
}
.titre.carousel .content .title{
	font-size: 22pt;
}
.titre.carousel .content .text{
	font-size: 14pt;
	margin-bottom: 8px;
}
.titre.carousel .content .attachment{
	border-radius: 16px;
}

/* Титр голосования */
.titre.vote{
	padding: 16px;
	background-color: #009dd4;
	border-radius: 16px;
}
.titre.vote .wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 500px;
}
.titre.vote .title{
	text-align: center;
	font-size: 22pt;
	color: #FFF;
}
.titre.vote .progress-bar{
	position: relative;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	overflow: hidden;
	background-color: #ff6b6b;
}
.titre.vote .progress-bar .text{
	font-size: 18pt;
	text-align: center;
	z-index: 1000;
	color: #FFF;
}
.titre.vote .progress-bar .bar{
	position: absolute;
	left: 0;
	right: 50%;
	bottom: 0;
	top: 0;
	background-color: #17e63a;
}
.titre.vote .variors{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #FFF;
	margin-top: 16px;
	width: 100%;
}
.titre.vote .variors .item{ display: block; }