body{
    width: 1920px;
    height: 1080px;
    background: rgb(252, 196, 181);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}



.all-block{
    position: absolute;
    bottom: 1px;
    left: 150px;
}


/* Блок участников */
.jamming-show{
    font-size: 48px;
    display: flex;
    width: 350px;
    max-height: 210px;
    animation-name: show-left;
    animation-duration: 2.2s;
}

.jamming-show .YB-show{
    margin-top: 64px;
    height: 127px;
    padding: 1px 8px;
    background-color: yellow;
    animation-name: show-left-PB;
    animation-duration: 3s; 
}

.jamming-show .left-show{
    min-width: 32%;
    height: 130%;
    text-align: center;
    background-color: yellow;
    color: rgb(195, 12, 195);
    animation-name: width-show;
    animation-duration: 2.4s;
    z-index: 1;
}

.jamming-show .p-left-show{
    margin-top: 87px;
    background: black;
    font-weight: 700;
    font-size: 54px;
    color: #fff;
    width: 120%;
    height: 72%;
    line-height: 75px;
    box-sizing: padding-box;
    padding: 8px 60px;
    text-align: center;
    animation-name: show-left-text;
    animation-duration: 3s;
}


/* Список участников пропадает с экрана */
.jamming-hide{
    font-size: 48px;
    display: flex;
    width: 350px;
    max-height: 210px;
    animation-name: hide-left;
    animation-duration: 7.6s;
}

.jamming-hide .YB-hide{
    margin-top: 64px;
    height: 125px;
    padding: 1px 8px;
    background-color: yellow;
    animation-name: hide-left;
    animation-duration: 2.2s; 
}

.jamming-hide .left-hide{
    min-width: 32%;
    height: 130%;
    text-align: center;
    background-color: yellow;
    color: rgb(195, 12, 195);
    animation-name: width-hide-rotate;
    animation-duration: 3.8s;
    /* animation-delay: 4s; */
    z-index: 1;
}

.jamming-hide .p-left-hide{
    margin-top: 87px;
    background: black;
    font-weight: 700;
    font-size: 54px;
    color: #fff;
    width: 120%;
    height: 72%;
    line-height: 75px;
    padding: 8px 60px;
    text-align: center;
    animation-name: show-hide;
    animation-duration: 1.8s;
}

/* Титр голосования */
.voice-for-var {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 45px;
    height: 250px;
    margin-left: 30px;
}

.voice-for-var .PBF{
    height: 57px;
    width: 15px;
    padding: 15px 4px;
    background-color: rgb(170, 0, 170);
    position: absolute;
    right: 1080px;
    bottom: 172px;
    animation-name: show-left-PB;
    animation-duration: 1.2s;
    z-index: 2;
}

.voice-for-var .number{
    font-weight: 700;
    text-align: center;
    line-height: 65px;
    min-width: 38%;
    max-height: 27%;
    background: black;
    color: yellow;
    font-size: 36px;
    z-index: 1;
    animation-name: number-left;
    animation-duration: 2.6s;
}

.voice-for-var .text{
    margin-top: 4px;
    font-size: 29px;
    font-weight: 600;
    display: flex;
    background-color: #fff;
    line-height: 56px;
    padding: 0px 16px;
    min-width: 70%;
    max-height: 23%;
    animation-name: text-left;
    animation-duration: 4.2s;
}

.voice-for-var .soc img{
    max-width: 40px;
    max-height: 40px;
    margin: 10px 6px;
    border-radius: 100px;
}


/* Блок голосов */
.block-voice{
    position: absolute;
    text-align: center;
    font-size: 42px;
    width: 32%;
    line-height: 5px;
    left: 1400px;
    bottom: 145px;
    animation-name: show-up;
    animation-duration: 6s;
}


.block-voice p{
    background-color: ghostwhite;
    color: black;
    font-weight: 600;
    padding: 0 45px;
    line-height: 65px;
    max-width: 80%;
    font-size: 38px;
}

/* Блок собщения */
.message{
    height: max-content;
    width: 675px;
    display: flex;
    background: rgba(0, 0, 0, 0.52);
    animation-name: width-hide;
    animation-duration: 1.2s;
    margin-bottom: 40px;
}

.message.hide{
	animation: width-del 1.5s;
}

.message img{
    width: 125px;
    height: 125px;
    margin: 25px;
}

.message-info{
    animation-name: show-up;
    animation-duration: 1.9s;
}

.message h1{
    color: yellow;
    font-size: 36px;
    font-weight: 500;   
}

.message p{
    color: #fff;
    font-size: 24px;
}


