*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 1920px;
    height: 1080px;
    background: url(../img/back.jpg);
}

/* Стили для всех блоков */
.all-block{
    width: 95%;
    height: 550px;
    font-family:  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    bottom: 25px;
    left: 125px;
}

/* Стили для верхнего блока */
.up-block{
    display: none;
    width: 650px;
    position: absolute;
    bottom: 175px;
}

.up-block.anim-show{animation: up-block-transform 2.2s; display: flex;}
.up-block.anim-hide{animation: hide-left 4.2s;}

.number-st{
    background-color: yellow;
    padding: 25px 45px;
    z-index: 1;
    min-height: 160px;
    min-width: 140px;
    position: relative;
}

.number-st.anim-show{animation: up-block-rotate 2.2s;}
.number-st.anim-hide{animation: up-block-rotate-hide 4.2s;}

.number-st h1{
    font-size: 86px;
    color: rgb(200, 3, 200);
    position: absolute;
}

.info{
    font-size: 58px;
    color: white;
    display: none;
}

.info.anim-show{animation: up-block-transform 2.2s; display: flex;}
.info.anim-hide{animation: up-block-hide 2.2s;}

.infoBG{
    background-color: black;
    height: 105px;
    margin-top: 28px;
    display: block;
}

.infoBG p{
    line-height: 105px;
    padding: 0px 85px 0px 85px;
}

.YL{
    height: 160px;
    width: 25px;
    background-color: yellow;
}

/* Нижний блок */

.down-block{
    margin-top: 25px;
    height: 70px;
    display: flex;
    position: absolute;
    bottom: 75px;
}

.down-block .PBF{
    height: 84px;
    width: 15px;
    background-color: rgb(184, 0, 184);
    z-index: 3;
}

.down-block .PBS{
    height: 84px;
    width: 15px;
    background-color: rgb(184, 0, 184);
    z-index: 3;
    position: absolute;
    right: 0;
    bottom: 10px;
    top: -15px;
}


/* Номер нижнего блока */

.down-block .number-org{
    height: 65px;
    margin-top: 10px;
    background-color: black;
    color: yellow;
    font-size: 18px;
    padding: 0px 20px 0px 20px;
    line-height: 65px;
    display: none;
    z-index: 2;
}

.number-org.anim-show{animation: show-left 1.6s; display: flex;}

/* Блок голоса за участника */

.voice-conter{
    height: 85px;
    display: none;
}

.voice-conter.anim-show{animation: show-left 1.4s; display: flex; overflow: hidden;}

.voite-text{
    margin-top: 15px;
    width: 810px;
    background-color: white;
    height: 55px;
    padding: 0px 20px 0px 20px;
    font-size: 18px;
    display: none;
    animation-name: show-left;
    animation-duration: 6.2s;
    position: relative;
    z-index: 1;
}

.voite-text.anim-show{animation: show-left 1.7s; display: flex;}

.voite-text img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 100px;
    margin: 2px 9px 0px 0px;
}

/* Блок кол-ва голосов */

.voice-col{
    position: absolute;
    right: -511px;
    bottom: 0;
    animation-name: voice-show;
    animation-duration: 10s;
}

.voice-col .col-voice{
    font-size: 38px;
    color: yellow;
    text-align: center;
}

.voice-col .voices{
    font-size: 20px;
    background-color: ghostwhite;
    padding: 2px 35px 2px 35px;
}

/* Блок показа сообщения */

.message{
    min-width: 1450px;
    height: 220px;
    bottom: -18px;
    z-index: 2;
    display: none;
}

.message.anim-show{animation: show-left 1.9s; display: flex; overflow: hidden;}
.message.anim-hide{animation: hide-left 1.9s; display: flex; overflow: visible;}

.message-info{
    background-color: rgba(0, 0, 0, 0.479);
    width: max-content;
    max-width: 1450px;
    height: max-content;
    margin-top: 3px;
    margin-left: 15px;
    z-index: 1;
    display: none;
}

.message-info.anim-show{animation: show-left-text 3.2s; display: flex;}
.message-info.anim-hide{animation: hide-left-text 2.7s; display: flex;}

.message-left-block{
    width: 245px;
    height: 175px;
}

.icon{
    width: 180px;
    height: 170px;
    margin: 12px 0px 0px 20px;
    border-radius: 8px;
    border: 7px solid yellow;
    position: relative;
}

.icon img{
    width: 103%;
    height: 103%;
    border-radius: 4px;
    position: absolute;
    left: -2.5px;
    right: 0;
    top: -2px;
    bottom: 0;
}

.message-right-block{
    width: 100%;
    min-width: 450px;
    margin-left: 15px;
}

.message-right-block h1{
    color: yellow;
    font-size: 42px;
}

.message-right-block p{
    color: white;
    font-size: 38px;
}

.message-right-block.text{
    min-width: 475px;
}

.MPL {
    width: 9px;
    height: 195px;
    background-color: rgb(184, 0, 184);
    padding-top: 3px;
    z-index: 2;
}